#footer {
  padding-bottom: 81px;
}
#footer .col-sm-4 i {
  border-radius: 50%;
  color: #333;
  height: 35px;
  width: 35px;
  line-height: 35px;
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}
#footer .col-sm-4 div {
  color: #333;
}
#footer .col-sm-3 a {
  color: #c7a674;
}
#footer .text-center {
  font-size: 16px;
}
#footer .footer-logo {
  float: left;
  display: block;
  clear: both;
  width: 100%;
}
#footer .footer-logo a {
  display: block;
  margin: auto;
}
#footer .foot-text {
  padding: 36px 0  81px;
  line-height: 32px;
}
#copyright {
  width: 100%;
  padding: 24px 0;
  line-height: 28px;
  background: #333;
  color: #fff;
  text-align: center;
}
