.footer-logo a {
    max-width: 243px;
    display: block;
    margin: auto;
}

.footer-logo img {
    width: 100%;
}

/* Social */
.footer .social {
    list-style: none;
    padding: 0;
}

    .footer .social li {
        list-style: none;
        display: inline-block;
        margin: 0 2px;
    }

        .footer .social li a {
            height: 36px;
            width: 36px;
            display: block;
            font-size: 16px;
            text-align: center;
            line-height: 32px;
            border: 2px solid #333;
            border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
        }

        .footer .social li:hover a {
            border-color: #c7a674;
            color: #c7a674;
        }
