#footer{
    background: url(../images/footer.png);
    padding-bottom: 60px;
    .col-sm-4{
        i{
            border-radius: 50%;
            color: #fff;
            height: 35px;
            width: 35px;
            line-height: 35px;
            font-size: 20px;
            margin-bottom: 16px;
            display: inline-block;
        }
        div{
            color: #fff;
        }
    }
    .footer-logo{
        float: left;
        display: block;
        clear: both;
        width: 100%;
        a{
            display: block;
            margin: auto;
        }
    }
}
