<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>晓石资本</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		
        <!-- <link rel="apple-touch-icon" href="apple-touch-icon.png"> -->
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="../content/css/site.css">
        <!--[if IE 8]>
        <link rel="stylesheet" href="../content/css/hackie.css">
        <![endif]-->
        <script src="../content/js/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div id="header" class="header">
            <div class="header-inner container">
                <!-- Logo -->
                <div class="logo">
					<a href="" title="">
						<img src="../content/images/logo.png" alt=""/>
					</a>
                </div>
                <!-- End Logo -->

                <!--Navigation Icon-->
                <div class="nav-menu-icon">
                    <a><i class="fa fa-bars"></i></a>
                </div>
                <!--End Navigation Icon-->

                <!-- Navigation Menu -->
                <div class="nav-menu singlepage-nav">
                    <ul class="nav-menu-inner">
                        <li><a href="#intro">主 页</a></li>
                        <li><a href="#about">关于我们</a></li>
                        <!--<li><a href="#team-people">团队介绍</a></li>-->
                        <li><a href="#service">服务项目</a></li>
                        <li><a href="#portfolio">投资案例</a></li>
                        <!-- <li><a href="#news">晓石动态</a></li> -->
                        <li><a href="#footer">联系我们</a></li>
                    </ul>
                </div>
                <!-- End Navigation Menu -->
            </div>
        </div>
        <div id="intro">
            <img src="../content/images/i4.jpg" alt="" />
            <div class="tp-caption">
                <!-- <img src="../content/images/t-logo1.png" alt="" /> -->
                <h2>
					智慧创造价值					
                </h2>
                <p>
					希望通过我们的智慧能为企业带来更多资源，技术和资金，帮助企业找到灵感
                </p>
            </div>
        </div>
		<section id="about" class="section-padding text-center">
			<div class="container mb-60">
				<div class="row text-center">
					<div class="col-md-6 wow slideInUp" data-wow-delay="0.2s" data-wow-duration="1s">
						<img src="../content/images/mockup04.jpg" style="max-width: 457px; width: 100%;" alt="mockup" />
					</div>
					<div class="col-md-6 wow fadeIn" data-wow-delay="0.4s" data-wow-duration="2s">
						<div class="spacer-15"></div>
						<h2 class="page-title mb-15"><span class="text-light">关于我们</span></h2>
                        <p class="max-width-700 large mb-15">About Us.</p>
						<p class="mb-35">我们通过丰富的行业资源、高水平的风险把控能力、独立的自主开发系统真正实现金融与互联网的跨界合作。我们提供以下服务：
                            为有清晰发展规划以及可观发展潜力的优质中小企业提供低成本融资信息发布平台；
                            为有一定闲置资金、乐于接受新兴事物、敢于打破常规的优质投资人提供高收益投资信息接收平台；
                            搭建优质借款人以及优质投资人直接沟通的多功能互动社区平 </p>
					</div>
				</div>
			</div>
		</section>


		<section id="service" class="section-padding-t text-center gray-bg">
			<div class="container mb-45 text-center">
                <h2><span class="text-light">服务项目</span></h2>
                <p class="max-width-700 large">Service Items.</p>
            </div>
			<div class="container" style="margin-bottom:24px">
				<div class="row">
					<div class="col-md-4 col-sm-6 col-xs-12 content-box mb-sm-30 wow fadeIn" data-wow-delay="0.2s" data-wow-duration="2s">
						<div class="icon-top icon-black"><i class="icon icon-sitemap"></i></div>
						<h5 class="features-title">企业管理咨询</h5>
						<p>优化企业商业模式，规划企业良性发展</p>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12 content-box mb-sm-30 wow fadeIn" data-wow-delay="0.4s" data-wow-duration="2s">
						<div class="icon-top icon-black"><i class="icon icon-random"></i></div>
						<h5 class="features-title">投融资服务</h5>
						<p>为企业的投融资提供咨询，提供方案设计及实施执行、资源对接等服务</p>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12 content-box mb-sm-30 wow fadeIn" data-wow-delay="0.6s" data-wow-duration="2s">
						<div class="icon-top icon-black"><i class="icon icon-bell-alt"></i></div>
						<h5 class="features-title">企业上市咨询</h5>
						<p>为企业进入境内外资本市场提供专业的一体化辅导服务</p>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-6 col-xs-12 content-box mb-sm-30 wow fadeIn" data-wow-delay="0.2s" data-wow-duration="2s">
						<div class="icon-top icon-black"><i class="icon icon-credit-card"></i></div>
						<h5 class="features-title">私募股权基金</h5>
						<p>作为股权基金管理人，领投、直投种子投资项目。</p>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12 content-box mb-sm-30 wow fadeIn" data-wow-delay="0.4s" data-wow-duration="2s">
						<div class="icon-top icon-black"><i class="icon icon-building"></i></div>
						<h5 class="features-title">闲置不动产管理</h5>
						<p>盘活资产，提供增值方案设计及服务。</p>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12 content-box mb-sm-30 wow fadeIn" data-wow-delay="0.6s" data-wow-duration="2s">
						<div class="icon-top icon-black"><i class="icon icon-edit"></i></div>
						<h5 class="features-title">特殊资产管理</h5>
						<p>提供创新不良资产处置、资源对接等服务。</p>
					</div>
				</div>
			</div>
		</section>



        <section id="portfolio" class="section-padding-t">
            <div class="container text-center">
                <h2><span class="text-light">投资案例</span></h2>
                <p class="max-width-700 large mb-15">Gestment Case.</p>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <h3></h3>
                </div>
                <div class="portfolio-grid-fit row gallery-popup">

                    <div class="portfolio-item branding photography coffee">
                        <div class="portfolio-box">
                            <a class="portfolio-image-wrap">
                                <img src="../content/images/portfolio/thumb/04.jpg" alt="" /></a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-tb">
                                    <div class="portfolio-caption-tb-cell">
                                        <h4>乐首付</h4>
                                        <p>西南地区第一家本地生活消费分期平台，面向租房、装修、培训、旅游等本地消费市场。</p>
                                        <p class="portfolio-btn-wraper">
                                            <a href="#" title="" target="_blank"><img src="../content/images/logo_lsf.png" alt="" /></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="portfolio-item">
                        <div class="portfolio-box">
                            <a class="portfolio-image-wrap">
                                <img src="../content/images/portfolio/thumb/02.jpg" alt="" /></a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-tb">
                                    <div class="portfolio-caption-tb-cell">
                                        <h4>融魔方</h4>
                                        <p>西南地区优秀的互联网理财平台，致力于搭建优质借款人以及优质投资人直接沟交易的信息渠道。</p>
                                        <p class="portfolio-btn-wraper">
                                            <a href="#" title="" target="_blank"><img src="../content/images/logo_rmf.png" alt="" /></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="portfolio-item branding photography">
                        <div class="portfolio-box">
                            <a class="portfolio-image-wrap">
                                <img src="../content/images/portfolio/thumb/03.jpg" alt="" /></a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-tb">
                                    <div class="portfolio-caption-tb-cell">
                                        <h4>可租可住</h4>
                                        <p>以“信息+服务”为双驱动的真房源直租平台， 以“互联网+”直接打通房东与租客的信息屏障</p>
                                        <p class="portfolio-btn-wraper">
                                            <a href="#" title="" target="_blank"><img src="../content/images/logo_kzkz.png" alt="" /></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="portfolio-item creative">
                        <div class="portfolio-box">
                            <a class="portfolio-image-wrap">
                                <img src="../content/images/portfolio/thumb/01.jpg" alt="" /></a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-tb">
                                    <div class="portfolio-caption-tb-cell">
                                        <h4>期待您的加入</h4>
										<p>如果你也在不断创新，你也拥有炫酷的项目或者想法，请发送邮件联系我们！<br/>
										<a href ="mailto:bp@xiaocapital.com">bp@xiaocapital.com</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <footer id="footer" class="footer section-padding-t gray-bg" data-stellar-background-ratio="0.1" data-background-img="../content/images/23.jpg">
            <div class="container text-center">
                <h2><span class="text-light">联系我们</span></h2>
                <p class="max-width-700 large mb-15">Contact Us.</p>
            </div>
			<div class="container text-center foot-text">
				 <div class="col-sm-3 mb-20-sm">
					<!--<i class="icon icon-phone" style="opacity: 1;"></i>-->
					<!--<div>400-6023-730</div>-->
				</div>
				<div class="col-sm-6 mb-20-sm">
					<div>我们也希望认识更多伙伴 <br>
					如果你也在不断创新，希望获得帮助请联系我们<br>
					我们的地址：重庆市渝北区杨柳北路九号力华科谷A区406</div>
				</div>
				<div class="col-sm-3 mb-20-sm">
					<!--<i class="icon icon-envelope" style="opacity: 1;font-size: 16px"></i>-->
					<!--<div>business@rongmofang.com</div>-->
				</div> 

				<!--<div class="footer-logo mt-25 mb-25 wow fadeInUp" data-wow-duration="1.5s">-->
					<!--<a class="" href="#intro">-->
						<!--<img src="../content/images/logo-dark.png" alt="mazel" />-->
					<!--</a>-->
				<!--</div> -->
				<!--<p class="copyright mb-25">-->
					<!--&copy; 2015 . All Rights Reserved.<br>-->
					<!--<a href="http://" target="_blank" title=""><b>商务合作：business@rongmofang.com   联系电话：(+86) 023 88537961</b></a>-->
				<!--</p> -->
			</div>
			<div class="container text-center">
				<div class="col-sm-3">加入我们： <a href="mailto:hr@xiaocapital.com">hr@xiaocapital.com</a></div>
				<div class="col-sm-6"></div>
				<div class="col-sm-3">发送BP：<a href="mailto:bp@xiaocapital.com">bp@xiaocapital.com</a></div>
			</div>
        </footer>
        
        <div id="copyright">
            <div class="container">
                @copyright 2015. 晓石资本 
            </div>
        </div>

		<div id="wrapper">
			<div id="wrapper_header">
				<p onClick="$('#wrapper').slideHide()"><i class="icon icon-angle-left icon-large"></i>安全投资大使见面会</p>
			</div>
			<div id="wrapper_content" class="container">
				<div class="container">
					<div class="col-md-12">
						<div class="cont">
						</div>
					</div>
				</div>
			</div>
		</div>
        <!--[if IE 8]>
            <script src="../content/js/respond.js"></script>
            <script src="../content/js/html5shiv.min.js"></script>

        <![endif]-->
        <script src="../content/js/assets.min.js"></script>
        <script src="../content/js/main.js"></script>
    </body>
</html>
