<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="../content/css/site.css">
        <!--[if IE 8]>
        <link rel="stylesheet" href="../content/css/hackie.css">
        <![endif]-->
        <style media="screen">
        #owl-demo {
            width: 1170px;
            margin: auto;
        }
        #owl-demo .item {
            display: block;
            margin: 5px;
        }
        #owl-demo img {
            display: block;
            width: 100%;
        }
        </style>
        <script src="../content/js/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
		
        <!-- Add your site or application content here -->
        <div id="header" class="header">
            <div class="header-inner">
                <!-- Logo -->
                <div class="logo">
					<a href="" title="">
						<img src="../content/images/logo.png" alt=""/>
					</a>	
                </div>
                <!-- End Logo -->

                <!--Navigation Icon-->
                <div class="nav-menu-icon">
                    <a><i class="fa fa-bars"></i></a>
                </div>
                <!--End Navigation Icon-->

                <!-- Navigation Menu -->
                <div class="nav-menu singlepage-nav">
                    <ul class="nav-menu-inner">
                        <li><a href="#intro">主 页</a></li>
                        <li><a href="#about">关于我们</a></li>
                        <li><a href="#team-people">团队介绍</a></li>
                        <li><a href="#service">服务项目</a></li>
                        <li><a href="#portfolio">投资案例</a></li>
                        <li><a href="#news">晓石动态</a></li>
                        <li><a href="#footer">联系我们</a></li>
                    </ul>
                </div>
                <!-- End Navigation Menu -->
            </div>
        </div>
        <div id="intro">
            <img src="../content/images/32.jpg" alt="" />
            <div class="tp-caption">
                <img src="../content/images/t-logo1.png" alt="" />
                <h2>
                    logo FLEXIBLE & CUSTOMIZABLE
                </h2>
                <p>
                     A donec sodales sagittis magna. Sed consequat, leo eget bibendum amet nibh <br>
                </p>

            </div>
        </div>
		<section id="about" class="section-padding text-center">
			<div class="container mb-60">
				<div class="row text-center">
					<div class="col-md-6 wow slideInUp" data-wow-delay="0.2s" data-wow-duration="1s">
						<img src="../content/images/mockup03.png" style="max-width: 457px; width: 100%;" alt="mockup" />
					</div>
					<div class="col-md-6 wow fadeIn" data-wow-delay="0.4s" data-wow-duration="2s">
						<div class="spacer-15"></div>
						<h2 class="page-title mb-15"><span class="text-light">关于我们</span></h2>
                        <p class="max-width-700 large mb-15">About Us.</p>
						<p class="mb-35">我们通过丰富的行业资源、高水平的风险把控能力、独立的自主开发系统真正实现金融与互联网的跨界合作。我们提供以下服务：
                            为有清晰发展规划以及可观发展潜力的优质中小企业提供低成本融资信息发布平台；
                            为有一定闲置资金、乐于接受新兴事物、敢于打破常规的优质投资人提供高收益投资信息接收平台；
                            搭建优质借款人以及优质投资人直接沟通的多功能互动社区平 </p>
					</div>
				</div>
			</div>
		</section>
		<div id="about2" class="section-padding text-center gray-bg">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-6 col-xs-12 content-box mb-sm-30 wow fadeIn" data-wow-delay="0.2s" data-wow-duration="2s">
						<div class="icon-top icon-black"><i class="icon icon-leaf"></i></div>
						<h4 class="features-title">We’re Creative</h4>
						<p>融魔方是重庆澜鼎信息技术有限公司旗下的专门为投资人提供安全、有担保、高收益的互联网理财服务的网络平台。重庆澜鼎信息技术有限公司成立于重庆，投资人为多位金融行业以及法律行业领军人物，创始团队是来自于金融和互联网行业的资深人士。</p>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12 content-box mb-sm-30 wow fadeIn" data-wow-delay="0.4s" data-wow-duration="2s">
						<div class="icon-top icon-black"><i class="icon icon-wrench"></i></div>
						<h4 class="features-title">TWe have magic</h4>
						<p>融魔方是重庆澜鼎信息技术有限公司旗下的专门为投资人提供安全、有担保、高收益的互联网理财服务的网络平台。重庆澜鼎信息技术有限公司成立于重庆，投资人为多位金融行业以及法律行业领军人物，创始团队是来自于金融和互联网行业的资深人士。</p>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12 content-box mb-sm-30 wow fadeIn" data-wow-delay="0.6s" data-wow-duration="2s">
						<div class="icon-top icon-black"><i class="icon icon-inbox"></i></div>
						<h4 class="features-title">Why we do it</h4>
						<p>融魔方是重庆澜鼎信息技术有限公司旗下的专门为投资人提供安全、有担保、高收益的互联网理财服务的网络平台。重庆澜鼎信息技术有限公司成立于重庆，投资人为多位金融行业以及法律行业领军人物，创始团队是来自于金融和互联网行业的资深人士。</p>
					</div>
				</div>
			</div>
		</div>



        <section id="team-people" class="section-padding text-center">
            <div class="container mb-25">
                <h2 class="page-title  mb-15"><span class="text-light">团队介绍</span></h2>
                <p class="max-width-700 large mb-15">Team Introduce.</p>
            </div>
            <div class="container">
                <div class="row">
                    <!--Team Carousel -->
                    <div id="owl-demo" class="owl-carousel">

                        <div class="item">
                            <div class="team-item">
                                <div class="team-item-img">
                                    <img src="../content/images/01.jpg" alt="" />
                                    <div class="team-item-detail">
                                        <div class="team-item-detail-inner light-color">
                                            <h5>熊晓鸽</h5>
                                            <p>投资总裁. 首席投资顾问. </p>
                                            <div>
                                                融魔方是重庆澜鼎信息技术有限公司
                                                融魔方是重庆澜鼎信息技术有限公司
                                                融魔方是重庆澜鼎信息技术有限公司
                                                融魔方是重庆澜鼎信息技术有限公司
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-item-info">
                                    <h6>投资总裁</h6>
                                    <p class="">熊晓鸽</p>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="team-item">
                                <div class="team-item-img">
                                    <img src="../content/images/03.jpg" alt="" />
                                    <div class="team-item-detail">
                                        <div class="team-item-detail-inner light-color">
                                            <h5>熊晓鸽</h5>
                                            <p>投资总裁. 首席投资顾问. </p>
                                            <div>
                                                融魔方是重庆澜鼎信息技术有限公司
                                                融魔方是重庆澜鼎信息技术有限公司
                                                融魔方是重庆澜鼎信息技术有限公司
                                                融魔方是重庆澜鼎信息技术有限公司
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-item-info">
                                    <h6>产品经理</h6>
                                    <p class="">马化腾</p>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="team-item">
                                <div class="team-item-img">
                                    <img src="../content/images/07.jpg" alt="" />
                                    <div class="team-item-detail">
                                        <div class="team-item-detail-inner light-color">
                                            <h5>熊晓鸽</h5>
                                            <p>投资总裁. 首席投资顾问. </p>
                                            <div>
                                                融魔方是重庆澜鼎信息技术有限公司
                                                融魔方是重庆澜鼎信息技术有限公司
                                                融魔方是重庆澜鼎信息技术有限公司
                                                融魔方是重庆澜鼎信息技术有限公司
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-item-info">
                                    <h6>财务总监</h6>
                                    <p class="">马云云</p>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="team-item">
                                <div class="team-item-img">
                                    <img src="../content/images/04.jpg" alt="" />
                                    <div class="team-item-detail">
                                        <div class="team-item-detail-inner light-color">
                                            <h5>熊晓鸽</h5>
                                            <p>投资总裁. 首席投资顾问. </p>
                                            <div>
                                                融魔方是重庆澜鼎信息技术有限公司
                                                融魔方是重庆澜鼎信息技术有限公司
                                                融魔方是重庆澜鼎信息技术有限公司
                                                融魔方是重庆澜鼎信息技术有限公司
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-item-info">
                                    <h6>技术总监</h6>
                                    <p class="">熊晓鸽</p>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="team-item">
                                <div class="team-item-img">
                                    <img src="../content/images/02.jpg" alt="" />
                                    <div class="team-item-detail">
                                        <div class="team-item-detail-inner light-color">
                                            <h5>熊晓鸽</h5>
                                            <p>投资总裁. 首席投资顾问. </p>
                                            <div>
                                                融魔方是重庆澜鼎信息技术有限公司
                                                融魔方是重庆澜鼎信息技术有限公司
                                                融魔方是重庆澜鼎信息技术有限公司
                                                融魔方是重庆澜鼎信息技术有限公司
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-item-info">
                                    <h6>首席执行官</h6>
                                    <p class="">李彦宏</p>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="team-item">
                                <div class="team-item-img">
                                    <img src="../content/images/06.jpg" alt="" />
                                    <div class="team-item-detail">
                                        <div class="team-item-detail-inner light-color">
                                            <h5>熊晓鸽</h5>
                                            <p>投资总裁. 首席投资顾问. </p>
                                            <div>
                                                融魔方是重庆澜鼎信息技术有限公司
                                                融魔方是重庆澜鼎信息技术有限公司
                                                融魔方是重庆澜鼎信息技术有限公司
                                                融魔方是重庆澜鼎信息技术有限公司
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-item-info">
                                    <h6>首席风控</h6>
                                    <p class="">上课的</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--End Team Carousel --->
                </div>
            </div>
        </section>


        <section id="Statement1" class="section-padding bg-image overlay-dark20 dark-bg text-center" data-stellar-background-ratio="0.1" data-background-img="../content/images/23.jpg">
            <div class="container">
				<h3>
					Hello world;
				</h3>

                <p class="max-width-700 lead">我们希望通过跨界的合作与知识的共享，打破传统金融行业融资人与投资人之间信息不对称的固有形态，共同建造一个绿色、健康、公正、透明、安全的互联网金融生态环境。</p>
            </div>
        </section>


        <section id="service" class="section-padding">
            <div class="container mb-45 text-center">
                <h2><span class="text-light">服务项目</span></h2>
                <p class="max-width-700 large">Service Items.</p>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 pt-30 pt-sm-0">
                        <div class="content-box right wow fadeIn" data-wow-delay="0.2s" data-wow-duration="2s">
                            <div class="icon-right"><i class="icon icon-basic-display"></i></div>
                            <h5 class="features-title">服务项目1</h5>
                            <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae vel illum.</p>
                        </div>
                        <div class="content-box right wow fadeIn" data-wow-delay="0.2s" data-wow-duration="4s">
                            <div class="icon-right"><i class="icon icon-music-play-button"></i></div>
                            <h5 class="features-title">服务项目2</h5>
                            <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae vel illum.</p>
                        </div>
                        <div class="content-box right wow fadeIn" data-wow-delay="0.2s" data-wow-duration="6s">
                            <div class="icon-right"><i class="icon icon-basic-eye"></i></div>
                            <h5 class="features-title">服务项目3</h5>
                            <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae vel illum.</p>
                        </div>
                        <div class="content-box right wow fadeIn" data-wow-delay="0.2s" data-wow-duration="8s">
                            <div class="icon-right"><i class="icon icon-basic-webpage-multiple"></i></div>
                            <h5 class="features-title">服务项目4</h5>
                            <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae vel illum.</p>
                        </div>
                    </div>
                    <div class="col-md-4 hidden-sm hidden-xs text-center">
                        <img src="../content/images/bann2.jpg" alt="" style="width:100%;"/>
                    </div>
                    <div class="col-md-4 col-sm-6 pt-30 pt-sm-0">
                        <div class="content-box left wow fadeIn" data-wow-delay="0.2s" data-wow-duration="2s">
                            <div class="icon-left"><i class="icon icon-basic-gear"></i></div>
                            <h5 class="features-title">服务项目5</h5>
                            <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae vel illum.</p>
                        </div>
                        <div class="content-box left wow fadeIn" data-wow-delay="0.4s" data-wow-duration="2s">
                            <div class="icon-left"><i class="icon icon-basic-cards-diamonds"></i></div>
                            <h5 class="features-title">服务项目6</h5>
                            <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae vel illum.</p>
                        </div>
                        <div class="content-box left wow fadeIn" data-wow-delay="0.6s" data-wow-duration="2s">
                            <div class="icon-left"><i class="icon icon-basic-sheet"></i></div>
                            <h5 class="features-title">服务项目7</h5>
                            <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae vel illum.</p>
                        </div>
                        <div class="content-box left wow fadeIn" data-wow-delay="0.8s" data-wow-duration="2s">
                            <div class="icon-left"><i class="icon icon-basic-headset"></i></div>
                            <h5 class="features-title">服务项目8</h5>
                            <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae vel illum.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section id="portfolio" class="section-padding-t gray-bg">
            <div class="container text-center">
                <h2><span class="text-light">投资案例</span></h2>
                <p class="max-width-700 large mb-15"><I></I>nGestment Case.</p>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <h3></h3>

                </div>
                <div class="portfolio-grid-fit row gallery-popup">
                    
                    <div class="portfolio-item branding photography coffee">
                        <div class="portfolio-box">
                            <a class="portfolio-image-wrap">
                                <img src="../content/images/portfolio/thumb/04.jpg" alt="" /></a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-tb">
                                    <div class="portfolio-caption-tb-cell">
                                        <h5>“御粥坊”品牌</h5>
                                        <p>公司成立于2004年，注册资本150万，是一家专门从事餐饮品种开发、特色餐饮经营、推广的餐饮管理公司。主营产品为养生粥和特色菜品、小吃，专注于粥类营养食品的开发和推广。</p>
                                        <p class="portfolio-btn-wraper">
                                            <a href="#" title="" target="_blank"><img src="../content/images/company_logo.png" alt="" /></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    <div class="portfolio-item">
                        <div class="portfolio-box">
                            <a class="portfolio-image-wrap">
                                <img src="../content/images/portfolio/thumb/02.jpg" alt="" /></a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-tb">
                                    <div class="portfolio-caption-tb-cell">
                                        <h5>重庆某商贸有限公司</h5>
                                        <p>重庆某商贸有限公司成立于2014年6月，注册资本1000万元，是一家集销售机械设备及配件、机电设备、汽车及摩托车零配件、电子产品、建筑材料及装饰材料的综合性商贸企业，目前在职员工42人。</p>
                                        <p class="portfolio-btn-wraper">
                                            <a href="#" title="" target="_blank"><img src="../content/images/company_logo.png" alt="" /></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="portfolio-item branding photography">
                        <div class="portfolio-box">
                            <a class="portfolio-image-wrap">
                                <img src="../content/images/portfolio/thumb/03.jpg" alt="" /></a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-tb">
                                    <div class="portfolio-caption-tb-cell">
                                        <h5>品牌水果销售企业</h5>
                                        <p>公司是一家集采购、仓储、配送、销售于一体的综合型企业；经营范围包括食品的代理及开发、超市及酒店配送、单位团购等，主要业务包含：水果批零、商超合作等，家乐福超市的大部分水果均由公司供应。</p>
                                        <p class="portfolio-btn-wraper">
                                            <a href="#" title="" target="_blank"><img src="../content/images/company_logo.png" alt="" /></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  
                    <div class="portfolio-item creative">
                        <div class="portfolio-box">
                            <a class="portfolio-image-wrap">
                                <img src="../content/images/portfolio/thumb/01.jpg" alt="" /></a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-tb">
                                    <div class="portfolio-caption-tb-cell">
                                        <h5>莼菜产销企业</h5>
                                        <p>公司专注于莼菜产业链的全方位发展，包含：种苗繁育、种植基地建设、精深产品研发及生产、市场营销。莼菜作为我国一级濒危水生植物，对生长环境要求十分严格，自古以来都是作为珍贵的高档名菜，其具有食用、美容护肤和药用三种功能，同时还有很高的生态价值及经济价值。</p>
                                        <p class="portfolio-btn-wraper">
                                            <a href="#" title="" target="_blank"><img src="../content/images/company_logo.png" alt="" /></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 
                    <div class="portfolio-item creative">
                        <div class="portfolio-box">
                            <a class="portfolio-image-wrap">
                                <img src="../content/images/portfolio/thumb/05.jpg" alt="" /></a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-tb">
                                    <div class="portfolio-caption-tb-cell">
                                        <h5>燃气销售企业</h5>
                                        <p>公司成立于2011年6月，现有员工24人，占地面积6210平方米，属规模较大加气站，以天然气为生产原料，凯源燃气为其主要供应商，具有气源稳定，进气压力高的优势。</p>
                                        <p class="portfolio-btn-wraper">
                                            <a href="#" title="" target="_blank"><img src="../content/images/company_logo.png" alt="" /></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="portfolio-item branding photography">
                        <div class="portfolio-box">
                            <a class="portfolio-image-wrap">
                                <img src="../content/images/portfolio/thumb/06.jpg" alt="" /></a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-tb">
                                    <div class="portfolio-caption-tb-cell">
                                        <h5>矸砖生产企业</h5>
                                        <p>公司砖窑设计年生产能力6000万匹/年，整个工艺流程采用国内同行业领先的JKY60/60真空挤砖机和连续式焙烧热工设备隧道窑生产线，主要生产建筑实心砖、空心砖、空心承重砖等制品。</p>
                                        <p class="portfolio-btn-wraper">
                                            <a href="#" title="" target="_blank"><img src="../content/images/company_logo.png" alt="" /></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
               
                    <div class="portfolio-item branding creative coffee">
                        <div class="portfolio-box">
                            <a class="portfolio-image-wrap">
                                <img src="../content/images/portfolio/thumb/07.jpg" alt="" /></a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-tb">
                                    <div class="portfolio-caption-tb-cell">
                                        <h5>装饰服务企业</h5>
                                        <p>公司成立于1998年，注册资本500万元，具有装饰工程施工二级资质和丙级装饰设计资质。是一家集装饰设计、工程施工、材料配送、木门、地板、家具、装饰品开发为一体的装饰企业。主要从事住宅、公寓、办公、商业、酒店、学校、医院等场所的装修设计和施工。</p>
                                        <p class="portfolio-btn-wraper">
                                            <a href="#" title="" target="_blank"><img src="../content/images/company_logo.png" alt="" /></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
              
                    <div class="portfolio-item photography">
                        <div class="portfolio-box">
                            <a class="portfolio-image-wrap">
                                <img src="../content/images/portfolio/thumb/08.jpg" alt="" /></a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-tb">
                                    <div class="portfolio-caption-tb-cell">
                                        <h5>贸易销售企业</h5>
                                        <p>公司是一家立足重庆涪陵、以拓展重庆市场为主的渠道营销型贸易公司，专注于建筑材料、化工产品、机器设备、百货、农产品等系列产品的营销和采购。</p>
                                        <p class="portfolio-btn-wraper">
                                            <a href="#" title="" target="_blank"><img src="../content/images/company_logo.png" alt="" /></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            

                </div>
            </div>
        </section>


        <section id="news" class="section-padding ">
            <div class="container text-center">
                <h2><span class="text-light">晓石动态</span></h2>
                <p class="max-width-700 large mb-15">Xiaoshi News.</p>
            </div>
            <div class="container">
                <div class="col-md-12 column gap-bottom">
                    <div class="col-sm-4 col-lg-4 column">
                        <div class="infobox-1 default fadeInLeft my-animation animated">
                            <header>
                                <a title="" onclick="$('#wrapper').slideShow()"><img src="../content/images/news01.jpg" alt="" class="img-responsive"></>
                            </header>
                            <h4>融魔方CEO魏旭龙出任创新金融协会会长</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed pulvinar augue, a aliquet ipsum. Vivamus ligula justo, pretium vel tempor at, sodales at purus.</p>
                            <a class="btn btn-sm btn-color">查看详细</a>
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-4 column">
                        <div class="infobox-1 default fadeInLeft my-animation animated">
                            <header>
                                <img src="../content/images/news02.jpg" alt="" class="img-responsive">
                            </header>
                            <h4>安全投资大使见面会 </h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed pulvinar augue, a aliquet ipsum. Vivamus ligula justo, pretium vel tempor at, sodales at purus.</p>
                            <a class="btn btn-sm btn-color">查看详细</a>
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-4 column">
                        <div class="infobox-1 default fadeInRight my-animation animated">
                            <header>
                                <img src="../content/images/news03.jpg" alt="" class="img-responsive">
                            </header>
                            <h4>魔方科幻大片诞生记</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed pulvinar augue, a aliquet ipsum. Vivamus ligula justo, pretium vel tempor at, sodales at purus. </p>
                            <a class="btn btn-sm btn-color">查看详细</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div id="owl-demo" class="owl-carousel">
            <a class="item"><img src="img/fullimage1.jpg" alt=""></a>
            <a class="item"><img src="img/fullimage2.jpg" alt=""></a>
            <a class="item"><img src="img/fullimage3.jpg" alt=""></a>
            <a class="item"><img src="img/fullimage4.jpg" alt=""></a>
            <a class="item"><img src="img/fullimage5.jpg" alt=""></a>
            <a class="item"><img src="img/fullimage1.jpg" alt=""></a>
            <a class="item"><img src="img/fullimage2.jpg" alt=""></a>
            <a class="item"><img src="img/fullimage3.jpg" alt=""></a>
            <a class="item"><img src="img/fullimage4.jpg" alt=""></a>
            <a class="item"><img src="img/fullimage5.jpg" alt=""></a>
            <a class="item"><img src="img/fullimage1.jpg" alt=""></a>
            <a class="item"><img src="img/fullimage2.jpg" alt=""></a>
            <a class="item"><img src="img/fullimage3.jpg" alt=""></a>
            <a class="item"><img src="img/fullimage4.jpg" alt=""></a>
            <a class="item"><img src="img/fullimage5.jpg" alt=""></a>
        </div>

        <footer id="footer" class="footer section-padding gray-bg">
            <div class="container text-center">

                <!--Footer Logo-->
                <div class="footer-logo mb-25 wow fadeInUp" data-wow-duration="1.5s">
                    <a class="scroll-top" href="#intro">
                        <img src="../content/images/logo-dark.png" alt="mazel" />
                    </a>
                </div>
                <!--End Footer Logo-->

                <!-- Copyright -->
                <p class="copyright mb-25">
                    &copy; 2015 . All Rights Reserved.<br>
                    <a><b>中国, 重庆市渝北区红锦大道86号中渝广场3号写字楼25F</b></a><br>
                    <a href="http://" target="_blank" title=""><b>商务合作：business@rongmofang.com   联系电话：(+86) 023 88537961</b></a>
                </p>
                <!-- Copyright -->

                <!-- Social -->
                <!-- <ul class="social">
                    <li>
                        <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus"></i></a>
                    </li>
                </ul> -->
                <!-- End Social -->

            </div>
        </footer>
		<div id="wrapper">
			<div id="wrapper_header">
				<p onClick="$('#wrapper').slideHide()"><i class="icon icon-angle-left icon-large"></i>安全投资大使见面会</p>
			</div>
			<div id="wrapper_content" class="container">
				<div class="container">
					<div class="col-md-12">
						<div class="cont">
						<h3>
							你好，世界！
						</h3>
						<p>
房企众筹平台雾里看花要失败
众筹有股权众筹、消费众筹、公益众筹，在这些基础上，又衍生出盲筹、股权连锁众筹等等。但是，大多数都是一个形式而已，只有适合自己的产业需求、人才驾驭需求的，才是符合房企众筹平台的方法。所以，房企在经营众筹平台时不要雾里看花，否则会失败的。
股权众筹连锁怎么玩？
						</p>

						<p>比如某知名品牌酒店输出品牌，新开一家连锁酒店，品牌价值大于单店总股本的50%以上，该酒店品牌房控股。据众投天地平台介绍，武圣羊杂店北京地区有63家店，由于银行贷款对于轻资产不容易，而且要走流程，时间很长。股权众筹成为比较快速融资的模式。比如一项门店估值400万元，其中众筹融资196万元，总公司货币出资+品牌溢价204万元。不过品牌溢价没有超过一倍的，而且品牌方都是大股东，众筹融资49%的股份。但是，股东有餐饮打折卡外，投资人可以获得保底12%、预期18%的年化收益。按月分红，每月1%，满一年投资者可以进行一次利润分派，投资门店净利润的20%按照投资金额比例分给投资人，80%分给投资门店，每年浮动分红收益预计6%。</p>	
<p>以上是没有对项目进行创新改造的分红模式，如果众筹平台派专家给融资项目进行一系列创新改造，笔者认为，平台可以获得超额利润的4成，店铺项目方可以获得超额收益的4成，投资者可以获得超额利润的2成。</p>

<p>实际上，众筹已经准备好如何销售、售后服务，众筹一般是品牌（或发起者）+项目+粉丝（或投资者），但是，事先产品看不到、价格不知道、发布时间也不知道。不过，实际上是通过依托名人、知名品牌的信用，加上产品制造的各种细节或卖点透露，成为吸引众筹的关键动力。</p>
<p>比如，互联网大佬辞去久邦数码总裁兼董事职务，成为700 Bike的联合创始人，另一方是淘宝众筹。这是6月1日发布的，取得成功后，7月8日，台湾节目主持人蔡康永与奥康发起“爱与面包”情侣鞋盲筹，7月21日，互联网手机厂商ZUK在京东众筹平台发布该品牌首款机型Z1，公布了各种配资，有联想集团总裁兼CEO杨元庆、搜狗CEO王小川、今日头条创始人兼CEO张一鸣、爱奇艺创始人龚宇、去哪儿CEO庄辰超、触控科技CEO陈昊芝、中国手游娱乐集团CEO肖健等多位IT大佬的站台。研发过程经历了30次校园调研、3000人次面对面的深度交流、12个月的研发测试、1500个应用图标的重绘、4周推倒重来的研发时间等步骤。</p>
<p>通过以上盲筹对站台大佬、研发调研就像品牌讲故事，依靠名人、龙头网站联合、知名厂家等联合出品，增加信用，也是一种营销。不过，笔者对这种营销并不看好，关键还是产品的款式创新、销售创新、渠道创新、制造创新、服务创新、品牌创新等一系列组合形成竞争力的，要企业综合创新专家指导，才能成功，此前笔者评论过奥康国际鞋业的各种变革，笔者并不看好名企+名主持人的盲筹模式。</p>
<p>由于吃的东西容易发生吃腻，所以，对于这种拷贝模式发展新连锁店用众筹模式，笔者并不看好。只有不断创新产品，才是成功的关键。至于手机ZUK能否成功，不看豪华大佬团站台，而是看产品与市场比较之后的各种性价比、质量比较、使用便捷、售后服务等进行一揽子比较，这才是取胜的关键之处，所以，能否成功还有待检验。</p>
<p>所以，笔者建议房企在众筹平台项目上不要犯以上雾里看花的毛病，产品本身的创新是否打动人？价格是否平价？产品品牌是否有知名度？消费、销售、渠道、制造、服务等一系列是否有颠覆性创新支撑？这些才是取胜的关键，但是，需要企业综合创新专家坐镇指导，才能成功。</p>
<p>综上所述，笔者认为，房企不要被众筹各种花样迷住双眼，雾里看花是会失败的，模仿也是会失败的，老老实实地从企业各种创新上下功夫，才是取胜之道，不过这需要综合创新专家操盘才行。</p>
 
作者简介：吴东华，知名经济学家，创新专家，服装战略专家，预测欧美元趋势第一人，经济整合专家，印度经济专家，外贸专家，世界经济专家，前商务部国际经济合作学会经济研究员、前商务部中国企业走出去研究中心顾问。提出解购论淘汰并购论，提出综合创新超越技术创新，抛出第四驾马车，指导过美国大使馆、伦敦ARM、法国ENSAAMA、巴黎O.G.F.D.I、德国《明镜》等国内外数十家机构，网络搜其《企业综合创新将赢全球10年》、《中国科创中心如何做全球第一》、《房地产开发商4个新风口在哪？》、《P2P末路狂奔谁会称王》是创新最好研究。吴东华指导企业业绩能年新增50%——300%，是P2P年净回报可到70%以上、EMBA反转动力。详见吴东华网易官博。写于2015年8月4日
							<img src="imgs/1.jpg" alt="" align="absmiddle">							
							<img src="imgs/1.jpg" alt="">							
							<img src="imgs/1.jpg" alt="">							
							<img src="imgs/1.jpg" alt="">							
							<img src="imgs/1.jpg" alt="">							
							<img src="imgs/1.jpg" alt="">							
						</div>
					</div>
				</div>
			</div>
		</div>
        <!--[if IE 8]>
            <script src="../content/js/respond.js"></script>
            <script src="../content/js/html5shiv.min.js"></script>

        <![endif]-->
        <script src="../content/js/assets.min.js"></script>
        <script src="../content/js/main.js"></script>
        <script>
        $(function(){
            $('#owl-demo').owlCarousel(
                {
                    autoPlay: !1,
                    stopOnHover: !0,
                    items: 4,
                    itemsDesktop: [ 1170, 3 ],
                    itemsDesktopSmall: [ 1e3, 2 ],
                    itemsTabletSmall: [ 768, 1 ],
                    itemsMobile: [ 480, 1 ],
                    pagination: !1,
                    navigation: !1
                }
            );
        });
		$.fn.slideShow = function() {
			var _this = this;
			_this.css({
				display: 'block',
				opacity: 0,
				transform: 'translateX(100%)',
				transition: 'none'
			});
			setTimeout(function(){
				_this.css({
					opacity: 1,
					transform: 'translateX(0)',
					transition: 'all .5s ease'
				});
			}, 16);
		};
		
		$.fn.slideHide = function() {
			var _this = this;
			_this.css({
				opacity: 0,
				transform: 'translateX(100%)',
				transition: 'all .5s ease'
			});
			setTimeout(function(){
				_this.css({
					display: 'none'
				});
			}, 600);
		};


        </script>
    </body>
</html>
