<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="../content/css/site.css">
        <script src="../content/js/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div id="header" class="header">
            <div class="header-inner">
                <!-- Logo -->
                <div class="logo">
                    <a href="#">
                        <img src="../content/images/logo.png" />
                    </a>
                </div>
                <!-- End Logo -->

                <!--Navigation Icon-->
                <div class="nav-menu-icon">
                    <a><i class="fa fa-bars"></i></a>
                </div>
                <!--End Navigation Icon-->

                <!-- Navigation Menu -->
                <div class="nav-menu singlepage-nav">
                    <ul class="nav-menu-inner">
                        <li><a href="#intro">主 页</a></li>
                        <li><a href="#about">关于我们</a></li>
                        <li><a href="#team-people">团队介绍</a></li>
                        <li><a href="#service">服务项目</a></li>
                        <li><a href="#portfolio">投资案例</a></li>
                        <li><a href="#news">晓石动态</a></li>
                        <li><a href="#footer">联系我们</a></li>
                    </ul>
                </div>
                <!-- End Navigation Menu -->
            </div>
        </div>
        <div id="intro">
            <img src="../content/images/32.jpg" alt="" />
            <div class="tp-caption">
                <img src="../content/images/t-logo1.png" alt="" />
                <h2>
                    logo FLEXIBLE & CUSTOMIZABLE
                </h2>
                <p>
                     A donec sodales sagittis magna. Sed consequat, leo eget bibendum amet nibh <br>
                    </p>

            </div>
        </div>
		<section id="about" class="section-padding text-center">
			<div class="container mb-60">
				<div class="row text-center">
					<div class="col-md-6 wow slideInUp" data-wow-delay="0.2s" data-wow-duration="1s">
						<img src="../content/images/mockup03.png" style="max-width: 457px; width: 100%;" alt="mockup" />
					</div>
					<div class="col-md-6 wow fadeIn" data-wow-delay="0.4s" data-wow-duration="2s">
						<div class="spacer-15"></div>
						<h2 class="page-title mb-15"><span class="text-light">关于我们</span></h2>
                        <p class="max-width-700 large mb-15">About Us.</p>
						<p class="mb-35">我们通过丰富的行业资源、高水平的风险把控能力、独立的自主开发系统真正实现金融与互联网的跨界合作。我们提供以下服务：
                            为有清晰发展规划以及可观发展潜力的优质中小企业提供低成本融资信息发布平台；
                            为有一定闲置资金、乐于接受新兴事物、敢于打破常规的优质投资人提供高收益投资信息接收平台；
                            搭建优质借款人以及优质投资人直接沟通的多功能互动社区平 </p>
					</div>
				</div>
			</div>
		</section>
		<div id="about2" class="section-padding text-center gray-bg">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-6 col-xs-12 content-box mb-sm-30 wow fadeIn" data-wow-delay="0.2s" data-wow-duration="2s">
						<div class="icon-top icon-black"><i class="icon icon-basic-anchor"></i></div>
						<h4 class="features-title">We’re Creative</h4>
						<p>融魔方是重庆澜鼎信息技术有限公司旗下的专门为投资人提供安全、有担保、高收益的互联网理财服务的网络平台。重庆澜鼎信息技术有限公司成立于重庆，投资人为多位金融行业以及法律行业领军人物，创始团队是来自于金融和互联网行业的资深人士。</p>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12 content-box mb-sm-30 wow fadeIn" data-wow-delay="0.4s" data-wow-duration="2s">
						<div class="icon-top icon-black"><i class="icon icon-basic-alarm"></i></div>
						<h4 class="features-title">TWe have magic</h4>
						<p>融魔方是重庆澜鼎信息技术有限公司旗下的专门为投资人提供安全、有担保、高收益的互联网理财服务的网络平台。重庆澜鼎信息技术有限公司成立于重庆，投资人为多位金融行业以及法律行业领军人物，创始团队是来自于金融和互联网行业的资深人士。</p>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12 content-box mb-sm-30 wow fadeIn" data-wow-delay="0.6s" data-wow-duration="2s">
						<div class="icon-top icon-black"><i class="icon icon-basic-globe"></i></div>
						<h4 class="features-title">Why we do it</h4>
						<p>融魔方是重庆澜鼎信息技术有限公司旗下的专门为投资人提供安全、有担保、高收益的互联网理财服务的网络平台。重庆澜鼎信息技术有限公司成立于重庆，投资人为多位金融行业以及法律行业领军人物，创始团队是来自于金融和互联网行业的资深人士。</p>
					</div>
				</div>
			</div>
		</div>



        <section id="team-people" class="section-padding text-center">
            <div class="container mb-25">
                <h2 class="page-title  mb-15"><span class="text-light">团队介绍</span></h2>
                <p class="max-width-700 large mb-15">Team Introduce.</p>
            </div>
            <div class="container">
                <div class="row">
                    <!--Team Carousel -->
                    <div class="owl-carousel team-carousel nf-carousel-theme">

                        <div class="item">
                            <div class="team-item">
                                <div class="team-item-img">
                                    <img src="../content/images/01.jpg" alt="" />
                                    <div class="team-item-detail">
                                        <div class="team-item-detail-inner light-color">
                                            <h5>Mitchell KAPPOS</h5>
                                            <p>To portal for some of the world's most high-value net.</p>
                                            <ul class="social">
                                                <li>融魔方是重庆澜鼎信息技术有限公司旗</li>
                                                <li>融魔方是重庆澜鼎信</li>
                                                <li>融魔方是重庆澜鼎信</li>
                                                <li>融魔方是重庆澜鼎信</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-item-info">
                                    <h6>投资总裁</h6>
                                    <p class="">( Graphic Designer )</p>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="team-item">
                                <div class="team-item-img">
                                    <img src="../content/images/03.jpg" alt="" />
                                    <div class="team-item-detail">
                                        <div class="team-item-detail-inner light-color">
                                            <h5>Leonardo da Vinci</h5>
                                            <p>To portal for some of the world's most high-value net.</p>
                                            <ul class="social">
                                                <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="https://www.dribbble.com/" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                                                <li><a href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                                <li><a href="https://www.behance.net/" target="_blank"><i class="fa fa-behance"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-item-info">
                                    <h6>Leonardo da Vinci</h6>
                                    <p class="">( Front-End Dev )</p>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="team-item">
                                <div class="team-item-img">
                                    <img src="../content/images/07.jpg" alt="" />
                                    <div class="team-item-detail">
                                        <div class="team-item-detail-inner light-color">
                                            <h5>John Doe</h5>
                                            <p>To portal for some of the world's most high-value net.</p>
                                            <ul class="social">
                                                <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="https://www.dribbble.com/" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                                                <li><a href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                                <li><a href="https://www.behance.net/" target="_blank"><i class="fa fa-behance"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-item-info">
                                    <h6>John Doe</h6>
                                    <p class="">( Project Manager )</p>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="team-item">
                                <div class="team-item-img">
                                    <img src="../content/images/04.jpg" alt="" />
                                    <div class="team-item-detail">
                                        <div class="team-item-detail-inner light-color">
                                            <h5>Michael Lee</h5>
                                            <p>To portal for some of the world's most high-value net.</p>
                                            <ul class="social">
                                                <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="https://www.dribbble.com/" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                                                <li><a href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                                <li><a href="https://www.behance.net/" target="_blank"><i class="fa fa-behance"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-item-info">
                                    <h6>Michael Lee</h6>
                                    <p class="">( Web Developer )</p>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="team-item">
                                <div class="team-item-img">
                                    <img src="../content/images/02.jpg" alt="" />
                                    <div class="team-item-detail">
                                        <div class="team-item-detail-inner light-color">
                                            <h5>Michael Lee</h5>
                                            <p>To portal for some of the world's most high-value net.</p>
                                            <ul class="social">
                                                <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="https://www.dribbble.com/" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                                                <li><a href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                                <li><a href="https://www.behance.net/" target="_blank"><i class="fa fa-behance"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-item-info">
                                    <h6>Michael Lee</h6>
                                    <p class="">Photographer</p>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="team-item">
                                <div class="team-item-img">
                                    <img src="../content/images/06.jpg" alt="" />
                                    <div class="team-item-detail">
                                        <div class="team-item-detail-inner light-color">
                                            <h5>Michael Lee</h5>
                                            <p>To portal for some of the world's most high-value net.</p>
                                            <ul class="social">
                                                <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="https://www.dribbble.com/" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                                                <li><a href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                                <li><a href="https://www.behance.net/" target="_blank"><i class="fa fa-behance"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-item-info">
                                    <h6>Michael Lee</h6>
                                    <p class="">Photographer</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--End Team Carousel --->
                </div>
            </div>
        </section>


        <section id="Statement1" class="section-padding bg-image overlay-dark20 dark-bg text-center" data-stellar-background-ratio="0.1" data-background-img="../content/images/23.jpg">
            <div class="container">
                <p class="max-width-700 lead">我们希望通过跨界的合作与知识的共享，打破传统金融行业融资人与投资人之间信息不对称的固有形态，共同建造一个绿色、健康、公正、透明、安全的互联网金融生态环境。</p>
            </div>
        </section>


        <section id="service" class="section-padding">
            <div class="container mb-45 text-center">
                <h2><span class="text-light">服务项目</span></h2>
                <p class="max-width-700 large">Service Items.</p>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 pt-30 pt-sm-0">
                        <div class="content-box right wow fadeIn" data-wow-delay="0.2s" data-wow-duration="2s">
                            <div class="icon-right"><i class="icon icon-basic-display"></i></div>
                            <h5 class="features-title">服务项目1</h5>
                            <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae vel illum.</p>
                        </div>
                        <div class="content-box right wow fadeIn" data-wow-delay="0.2s" data-wow-duration="4s">
                            <div class="icon-right"><i class="icon icon-music-play-button"></i></div>
                            <h5 class="features-title">服务项目2</h5>
                            <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae vel illum.</p>
                        </div>
                        <div class="content-box right wow fadeIn" data-wow-delay="0.2s" data-wow-duration="6s">
                            <div class="icon-right"><i class="icon icon-basic-eye"></i></div>
                            <h5 class="features-title">服务项目3</h5>
                            <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae vel illum.</p>
                        </div>
                        <div class="content-box right wow fadeIn" data-wow-delay="0.2s" data-wow-duration="8s">
                            <div class="icon-right"><i class="icon icon-basic-webpage-multiple"></i></div>
                            <h5 class="features-title">服务项目4</h5>
                            <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae vel illum.</p>
                        </div>
                    </div>
                    <div class="col-md-4 hidden-sm hidden-xs text-center">
                        <img src="../content/images/mockup02.png" alt="" />
                    </div>
                    <div class="col-md-4 col-sm-6 pt-30 pt-sm-0">
                        <div class="content-box left wow fadeIn" data-wow-delay="0.2s" data-wow-duration="2s">
                            <div class="icon-left"><i class="icon icon-basic-gear"></i></div>
                            <h5 class="features-title">服务项目5</h5>
                            <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae vel illum.</p>
                        </div>
                        <div class="content-box left wow fadeIn" data-wow-delay="0.4s" data-wow-duration="2s">
                            <div class="icon-left"><i class="icon icon-basic-cards-diamonds"></i></div>
                            <h5 class="features-title">服务项目6</h5>
                            <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae vel illum.</p>
                        </div>
                        <div class="content-box left wow fadeIn" data-wow-delay="0.6s" data-wow-duration="2s">
                            <div class="icon-left"><i class="icon icon-basic-sheet"></i></div>
                            <h5 class="features-title">服务项目7</h5>
                            <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae vel illum.</p>
                        </div>
                        <div class="content-box left wow fadeIn" data-wow-delay="0.8s" data-wow-duration="2s">
                            <div class="icon-left"><i class="icon icon-basic-headset"></i></div>
                            <h5 class="features-title">服务项目8</h5>
                            <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae vel illum.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section id="portfolio" class="section-padding-t gray-bg">
            <div class="container text-center">
                <h2><span class="text-light">投资案例</span></h2>
                <p class="max-width-700 large mb-15">Investment Case.</p>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <h3></h3>

                </div>
                <div class="portfolio-grid-fit row gallery-popup">
                    <!------->
                    <div class="portfolio-item branding photography coffee">
                        <div class="portfolio-box">
                            <a class="portfolio-image-wrap">
                                <img src="../content/images/portfolio/thumb/04.jpg" alt="" /></a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-tb">
                                    <div class="portfolio-caption-tb-cell">
                                        <h5>Digital Camera mockup</h5>
                                        <p>Mockup - Photography - Graphic - Branding</p>
                                        <ul class="portfolio-btn-wraper">
                                            <li>
                                                <a class="gallery-popup-link btn btn-color" href="../content/images/portfolio/large/01.jpg" title="Portfolio Image 01"><i class="fa fa-search"></i></a>
                                            </li>
                                            <li>
                                                <a class="btn btn-black" target="_blank" href="https://www.dribbble.com/"><i class="fa fa-dribbble"></i></a>
                                            </li>
                                            <li>
                                                <a class="btn btn-black" target="_blank" href="https://www.pinterest.com/"><i class="fa fa-pinterest"></i></a>
                                            </li>
                                            <li>
                                                <a class="btn btn-black" target="_blank" href="https://www.behance.net/"><i class="fa fa-behance"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!------->
                    <div class="portfolio-item">
                        <div class="portfolio-box">
                            <a class="portfolio-image-wrap">
                                <img src="../content/images/portfolio/thumb/02.jpg" alt="" /></a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-tb">
                                    <div class="portfolio-caption-tb-cell">
                                        <h5>Digital Camera mockup</h5>
                                        <p>Mockup - Photography - Graphic - Branding</p>
                                        <ul class="portfolio-btn-wraper">
                                            <li>
                                                <a class="gallery-popup-link btn btn-color" href="../content/images/portfolio/large/02.jpg" title="Portfolio Image 02"><i class="fa fa-search"></i></a>
                                            </li>
                                            <li>
                                                <a class="btn btn-black" target="_blank" href="https://www.dribbble.com/"><i class="fa fa-dribbble"></i></a>
                                            </li>
                                            <li>
                                                <a class="btn btn-black" target="_blank" href="https://www.pinterest.com/"><i class="fa fa-pinterest"></i></a>
                                            </li>
                                            <li>
                                                <a class="btn btn-black" target="_blank" href="https://www.behance.net/"><i class="fa fa-behance"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!------->
                    <div class="portfolio-item branding photography">
                        <div class="portfolio-box">
                            <a class="portfolio-image-wrap">
                                <img src="../content/images/portfolio/thumb/03.jpg" alt="" /></a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-tb">
                                    <div class="portfolio-caption-tb-cell">
                                        <h5>Digital Camera mockup</h5>
                                        <p>Mockup - Photography - Graphic - Branding</p>
                                        <ul class="portfolio-btn-wraper">
                                            <li>
                                                <a class="gallery-popup-link btn btn-color" href="../content/images/portfolio/large/03.jpg" title="Portfolio Image 03"><i class="fa fa-search"></i></a>
                                            </li>
                                            <li>
                                                <a class="btn btn-black" target="_blank" href="https://www.dribbble.com/"><i class="fa fa-dribbble"></i></a>
                                            </li>
                                            <li>
                                                <a class="btn btn-black" target="_blank" href="https://www.pinterest.com/"><i class="fa fa-pinterest"></i></a>
                                            </li>
                                            <li>
                                                <a class="btn btn-black" target="_blank" href="https://www.behance.net/"><i class="fa fa-behance"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!------->
                    <div class="portfolio-item creative">
                        <div class="portfolio-box">
                            <a class="portfolio-image-wrap">
                                <img src="../content/images/portfolio/thumb/01.jpg" alt="" /></a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-tb">
                                    <div class="portfolio-caption-tb-cell">
                                        <h5>Digital Camera mockup</h5>
                                        <p>Mockup - Photography - Graphic - Branding</p>
                                        <ul class="portfolio-btn-wraper">
                                            <li>
                                                <a class="gallery-popup-link btn btn-color" href="../content/images/portfolio/large/04.jpg" title="Portfolio Image 04"><i class="fa fa-search"></i></a>
                                            </li>
                                            <li>
                                                <a class="btn btn-black" target="_blank" href="https://www.dribbble.com/"><i class="fa fa-dribbble"></i></a>
                                            </li>
                                            <li>
                                                <a class="btn btn-black" target="_blank" href="https://www.pinterest.com/"><i class="fa fa-pinterest"></i></a>
                                            </li>
                                            <li>
                                                <a class="btn btn-black" target="_blank" href="https://www.behance.net/"><i class="fa fa-behance"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!------->
                    <div class="portfolio-item creative">
                        <div class="portfolio-box">
                            <a class="portfolio-image-wrap">
                                <img src="../content/images/portfolio/thumb/05.jpg" alt="" /></a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-tb">
                                    <div class="portfolio-caption-tb-cell">
                                        <h5>Digital Camera mockup</h5>
                                        <p>Mockup - Photography - Graphic - Branding</p>
                                        <ul class="portfolio-btn-wraper">
                                            <li>
                                                <a class="gallery-popup-link btn btn-color" href="../content/images/portfolio/large/05.jpg" title="Portfolio Image 05"><i class="fa fa-search"></i></a>
                                            </li>
                                            <li>
                                                <a class="btn btn-black" target="_blank" href="https://www.dribbble.com/"><i class="fa fa-dribbble"></i></a>
                                            </li>
                                            <li>
                                                <a class="btn btn-black" target="_blank" href="https://www.pinterest.com/"><i class="fa fa-pinterest"></i></a>
                                            </li>
                                            <li>
                                                <a class="btn btn-black" target="_blank" href="https://www.behance.net/"><i class="fa fa-behance"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!------->
                    <div class="portfolio-item branding photography">
                        <div class="portfolio-box">
                            <a class="portfolio-image-wrap">
                                <img src="../content/images/portfolio/thumb/06.jpg" alt="" /></a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-tb">
                                    <div class="portfolio-caption-tb-cell">
                                        <h5>Digital Camera mockup</h5>
                                        <p>Mockup - Photography - Graphic - Branding</p>
                                        <ul class="portfolio-btn-wraper">
                                            <li>
                                                <a class="gallery-popup-link btn btn-color" href="../content/images/portfolio/large/06.jpg" title="Portfolio Image 06"><i class="fa fa-search"></i></a>
                                            </li>
                                            <li>
                                                <a class="btn btn-black" target="_blank" href="https://www.dribbble.com/"><i class="fa fa-dribbble"></i></a>
                                            </li>
                                            <li>
                                                <a class="btn btn-black" target="_blank" href="https://www.pinterest.com/"><i class="fa fa-pinterest"></i></a>
                                            </li>
                                            <li>
                                                <a class="btn btn-black" target="_blank" href="https://www.behance.net/"><i class="fa fa-behance"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!------->
                    <div class="portfolio-item branding creative coffee">
                        <div class="portfolio-box">
                            <a class="portfolio-image-wrap">
                                <img src="../content/images/portfolio/thumb/07.jpg" alt="" /></a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-tb">
                                    <div class="portfolio-caption-tb-cell">
                                        <h5>Digital Camera mockup</h5>
                                        <p>Mockup - Photography - Graphic - Branding</p>
                                        <ul class="portfolio-btn-wraper">
                                            <li>
                                                <a class="gallery-popup-link btn btn-color" href="../content/images/portfolio/large/07.jpg" title="Portfolio Image 07"><i class="fa fa-search"></i></a>
                                            </li>
                                            <li>
                                                <a class="btn btn-black" target="_blank" href="https://www.dribbble.com/"><i class="fa fa-dribbble"></i></a>
                                            </li>
                                            <li>
                                                <a class="btn btn-black" target="_blank" href="https://www.pinterest.com/"><i class="fa fa-pinterest"></i></a>
                                            </li>
                                            <li>
                                                <a class="btn btn-black" target="_blank" href="https://www.behance.net/"><i class="fa fa-behance"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!------->
                    <div class="portfolio-item photography">
                        <div class="portfolio-box">
                            <a class="portfolio-image-wrap">
                                <img src="../content/images/portfolio/thumb/08.jpg" alt="" /></a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-tb">
                                    <div class="portfolio-caption-tb-cell">
                                        <h5>Digital Camera mockup</h5>
                                        <p>Mockup - Photography - Graphic - Branding</p>
                                        <ul class="portfolio-btn-wraper">
                                            <li>
                                                <a class="gallery-popup-link btn btn-color" href="../content/images/portfolio/large/08.jpg" title="Portfolio Image 08"><i class="fa fa-search"></i></a>
                                            </li>
                                            <li>
                                                <a class="btn btn-black" target="_blank" href="https://www.dribbble.com/"><i class="fa fa-dribbble"></i></a>
                                            </li>
                                            <li>
                                                <a class="btn btn-black" target="_blank" href="https://www.pinterest.com/"><i class="fa fa-pinterest"></i></a>
                                            </li>
                                            <li>
                                                <a class="btn btn-black" target="_blank" href="https://www.behance.net/"><i class="fa fa-behance"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!------->

                </div>
            </div>
        </section>


        <section id="news" class="section-padding ">
            <div class="container text-center">
                <h2><span class="text-light">晓石动态</span></h2>
                <p class="max-width-700 large mb-15">Xiaoshi News.</p>
            </div>
            <div class="container">
                <div class="col-md-12 column gap-bottom">
                    <div class="col-sm-4 col-lg-4 column">
                        <div class="infobox-1 default fadeInLeft my-animation animated">
                            <header>
                                <img src="../content/images/news01.jpg" alt="" class="img-responsive">
                            </header>
                            <h4>MEET OUR TEAM</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed pulvinar augue, a aliquet ipsum. Vivamus ligula justo, pretium vel tempor at, sodales at purus.</p>
                            <a class="btn btn-sm btn-color">查看详细</a>
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-4 column">
                        <div class="infobox-1 default fadeInLeft my-animation animated">
                            <header>
                                <img src="../content/images/news02.jpg" alt="" class="img-responsive">
                            </header>
                            <h4>NEED SUPPORT</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed pulvinar augue, a aliquet ipsum. Vivamus ligula justo, pretium vel tempor at, sodales at purus.</p>
                            <a class="btn btn-sm btn-color">查看详细</a>
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-4 column">
                        <div class="infobox-1 default fadeInRight my-animation animated">
                            <header>
                                <img src="../content/images/news03.jpg" alt="" class="img-responsive">
                            </header>
                            <h4>CREATIVE IDEAS</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed pulvinar augue, a aliquet ipsum. Vivamus ligula justo, pretium vel tempor at, sodales at purus. </p>
                            <a class="btn btn-sm btn-color">查看详细</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <footer id="footer" class="footer section-padding gray-bg">
            <div class="container text-center">

                <!--Footer Logo-->
                <div class="footer-logo mb-25 wow fadeInUp" data-wow-duration="1.5s">
                    <a class="scroll-top" href="#intro">
                        <img src="../content/images/logo-dark.png" alt="mazel" />
                    </a>
                </div>
                <!--End Footer Logo-->

                <!-- Copyright -->
                <p class="copyright mb-25">
                    &copy; 2015 . All Rights Reserved.<br>
                    <a><b>中国, 重庆市渝北区红锦大道86号中渝广场3号写字楼25F</b></a><br>
                    <a href="http://" target="_blank"><b>商务合作：business@rongmofang.com   联系电话：(+86) 023 88537961</b></a>
                </p>
                <!-- Copyright -->

                <!-- Social -->
                <!-- <ul class="social">
                    <li>
                        <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus"></i></a>
                    </li>
                </ul> -->
                <!-- End Social -->

            </div>
        </footer>

        <script src="../content/js/assets.min.js"></script>
        <script src="../content/js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
        </script>
    </body>
</html>
